#  Copyright (C) 2016 Synopsys, Inc.
#
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program; if not, write to the
#  Free Software Foundation, Inc.,
#  51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

#
# Synopsys DesignWare ARC EM Starter Kit v2.2 cjtag
#

# Configure JTAG cable
# Uses external Digilent HS-2.
source [find interface/ftdi/digilent-hs2.cfg]

# EM11D reportedly requires 5 MHz. Other cores and board can work faster.
adapter_khz 2000

# ARCs support JTAG and cJTAG.
transport select cjtag

# Configure FPGA. This script supports both LX45 and LX150.
source [find target/snps_em_sk_fpga.cfg]

# Initialize
init
reset halt

